.dashboard-img {
    background: url('../../../assets/dashboard-screen.png') center / cover no-repeat;
}

.image1 {
    background: url('../../../assets/dashboard1.png') center / cover no-repeat;
}

.image2 {
    background: url('../../../assets/dashboard2.png') center / cover no-repeat;
}

.image3 {
    background: url('../../../assets/dashboard3.png') center / cover no-repeat;
}